[Desktop Entry]
Name=Bijin Clock
Type=Application
Comment=Clock with Beautiful Women
Exec=bijinclock
Icon=bijinclock.png
Categories=GTK;GNOME;Network;
